.App {
    display: flex;
}
.pdf {
    text-align: end;
    padding: 30px 40px;
    background-color: aquamarine;
    width: 60%;
}

.form-container {
    padding: 80px 40px;
    background-color: whitesmoke;
    width: 40%;
    border: 4px solid black;
    text-align: center;
}